@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ClashDisplay;
  src: url("./fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf");
}
@font-face {
  font-family: Inter;
  src: url("./fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: Typohoop;
  src: url("./fonts/typo_hoop/TypoHoop_Regular.otf");
}
@font-face {
  font-family: Voces;
  src: url("./fonts/Voces/Voces-Regular.ttf");
}
@font-face {
  font-family: Madetommy;
  src: url("./fonts/made_tommy/MADE_TOMMY_Regular.otf");
}
@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: Unica;
  src: url("./fonts/Unica_One/UnicaOne-Regular.ttf");
}

/* html {
  font-size: calc(75%);
} */
/* html {
  font-size: calc(100vw/1512 * 100%);
} */

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  width: 100vw;
  text-decoration: none;
  list-style: none; 

}
/* *{outline: 1px solid green;} */

div#root {
  width: 100vw;
  overflow-x: hidden;
}
/* Title */

/* getlinked Tech */

@media screen and (min-width:630px) {
  html {
    font-size: 128%;
  }
} 
@media screen and (min-width:768px) {
  html {
    font-size: 100%;
  }
}
@media screen and (min-width:912px) {
  html {
    font-size: 110%;
  }
}
@media screen and (min-width:1024px) {
  html {
    font-size: 120%;
  }
}
@media screen and (min-width:1280px) {
  html {
    font-size: 140%;
  }
}